{% extends 'base.html.twig' %}

{% block title %}
	Créer un livre
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{{ asset('../public/CSS/main.css')}}">
	<link rel="stylesheet" href="{{ asset('../public/CSS/create_book.css')}}">
	<style>
		.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
		.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>
{% endblock %}

{% block main %}
<main class="col-10 p-0 m-0 ">
	<section class="p-5 book-list">
			<h1>Ajouter un livre</h1>
			<div class="separateur bg-green mb-2"></div>
		<div id="formAddBook" class="pt-5 example-wrapper text-center">
			{{form(form)}}
			<!-- <ul>
				<li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/test-symfony/src/Controller/NomDuControleurController.php'|file_link(0) }}">src/Controller/NomDuControleurController.php</a></code></li>
				<li>Your template at <code><a href="{{ 'C:/xampp/htdocs/test-symfony/templates/nom_du_controleur/index.html.twig'|file_link(0) }}">templates/nom_du_controleur/index.html.twig</a></code></li>
			</ul> -->
		</div>
	</section>
</main>
{% endblock %}
