{% extends 'base.html.twig' %}

{% block title %}
	Détail utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{{ asset('../public/CSS/main.css')}}">
	<link rel="stylesheet" href="{{ asset('../public/CSS/adduser.css')}}">
	<style>
		main {
			top: 5vh;
		}
	</style>
{% endblock %}

{% block main %}
	<main class="col-10 p-0 m-0 ">
		<section class="px-5 book-list">
			<div class="container mt-5 dark-grey-text">
				<h1>Détails utilisateur
				</h1>
				<div class="separateur bg-green mb-5"></div>
				<div class="text-center pb-5">
					<p>
						<strong>Email :
						</strong>
						{{ user.getEmail() }}</p>

					<p>
						<strong>Prénom :
						</strong>
						{{ user.getFirstName() }}</p>

					<p>
						<strong>Nom :
						</strong>
						{{ user.getLastName() }}</p>

					<p>
						<strong>Numéro de téléphone :
						</strong>
						{{ user.getPhoneNumber() }}</p>

					<p>
						<strong>Adresse :
						</strong>
						{{ user.getAddress() }}</p>
				</li><br>
			</div>

			<div class="separateur bg-green mb-5"></div>


			<h3>Livres empruntés :</h3>
			{# <ul style="list-style: none;" class="d-flex align-items-center flex-column"><br>
								{% for history in user.getUserHistory() %}
									{% for book in history.getBook() %}
			
									<li class="list-group-item">{{ book.getTitle() }}</li>
									{% endfor %}
									{% if history.getBook is not null %}
										<li><strong>Titre : </strong>{{history.getBook.getTitle()}}</li><br>
										<li><strong>Date d'emprunt : </strong>{{history.getBook.getLoanDate|date("d/m/Y")}}</li><br>
										<li><strong> Date de rendu : </strong>{{history.getBook.getDueDate|date("d/m/Y")}}</li><br>
									{% endif %}
									{# <td>{{history.getBook.getAuthor()}}</td> #}
			{# {% endfor %}
							</ul> #}
			<div class="my-5 text-center">
				<a href="{{path('user_edit',{id})}}" class="btn btn-red">
					Modifier l'utilisateur
				</a>
			</div>
		</section>
	</main>
{% endblock %}
