{% extends 'base.html.twig' %}

{% block title %}
	Modifier un utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{{ asset('../public/CSS/main.css')}}">
	<link rel="stylesheet" href="{{ asset('../public/CSS/modify_user.css')}}">
{% endblock %}

{% block main %}
	<main class="col-10 p-0 m-0 ">
		<section class="px-5 book-list">
			<div class="pt-5 example-wrapper">
				<h1>Modifier un utilisateur</h1>
			<div class="separateur bg-green mb-5"></div>
			<div id="wrapper_user" class="p-5 text-center">
				{{ form(form) }}

				<a href="../delete/{{id}}" class="btn btn-red">
					Supprimer l'utilisateur
				</a>
			</div>
		</section>
	</main>
{% endblock %}
